@media screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
        width: 100%;
    }
    .nav-items-container{
        flex-direction: column;
    }
    .nav-items-container a{
        margin-top: 20px;
    }

    .nav-items-container .login-btn{
        width: 100%;
        margin-bottom: 10px;
    }
    /* nav responsive end hear */
    .bannar-container{
        flex-direction: column;
    }
    .banner-text,  .banner-img{
        width: 100%;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p{
        font-size: 25px;
    }
    .fa-brands{
        font-size: 30px;
    }

    /* banar respnsiv end hear */
    .grid-container{
        grid-template-columns: 1fr;
    }

    .discount-container{
        flex-direction: column;
    }

    .discount-text{
        width: 100%;
    }

    .discount-img{
        width: 100%;
    }

}




/* @media screen and (max-width:776px) {
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
} */