



  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap');


*{
    box-sizing: border-box;
}

body{
    
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lato', sans-serif;
}


nav{
    background-color: #9376e0;
}

.nav-container{

    min-height: 50px;
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
  
}

.logo-container{

display: flex;
width: 50%;
}

.logo-container img{
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-container p{
    font-size: 30px;
}
.hive-secton{
color: #e893cf;

}
.nav-items-container{
width: 50%;
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-items-container a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.nav-items-container .login-btn{

    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    color: black;
    text-align: center;
    
}



/* bannner section start hear */

.bannar-container{
  
    max-width: 1140px;
    margin: 50px auto 0; 
    min-height: 50px;
    display: flex;
    background-color: #e6e9eb;
    padding: 10px;
    border-radius: 10px;
  
}

.banner-text{
width: 50%;
text-align: center;
}

.banner-text h1{
    background-image: linear-gradient(to  bottom, #9376e0, #e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}

.banner-text p{
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}

.fa-brands{
    font-size: 50px;
}

.banner-buttons{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376e0 ;
    margin-right: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    
}


.icons-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 40px;
}



.banner-img{
    width: 50%;

}

.banner-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}



/* bannner section end hear */



/* product section start hear */
.grid-container{
    display: grid;
    max-width: 1140px;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
}


.single-produc{

    background-color: rgba(112, 128, 144, 0.281);
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 2px 2px 4px black;
}

.single-produc img{
    width: 70%;
    display: block;
    margin: 0 auto;
}

.product-icon-name-container{

display: flex;
align-items: center;
justify-content: space-between;
}



.product-icon{
    font-size: 20px;

}

.product-icon-name-container span{
    padding: 10px;
    background-color: #9376e0;
    border-radius: 50%;
    padding-left: 5px;
    color: white;
}


/* product section end hear */


/* discount section start hear */


.discount-section{
    background-color: #9376e0;
    min-height: 500px;
    padding: 20px 0;
    margin-top: 30px;
}


.discount-container{
    max-width: 1140px;
    margin: 0 auto;
    min-height: 200px;
    display: flex;
    align-items: center;
}


.discount-img{
    width: 50%;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}

.discount-img img {
    width: 70%;
    height: 100%;

}

.discount-namebar{
    background-color: rgb(185, 185, 18);
    height: 90px;
    width: 90px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
   align-items: center;
   position: absolute;
   left: 70%;
   top: 4%;


}

.discount-text{
    width: 50%;
    text-align: center;
}

.btn{
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #9376e0;
 
}

.discount-text h3{
    font-size: 30px;
   
} 
.discount-text p{
font-size: 20px;

}
/* discount section end hear */

/* review section start hear */
.review-container{
   
   margin: 50px auto 0;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.single-review{
   
    flex-basis: 300px;
    background-color:  #e893cf;
    padding: 10px;
    border-radius: 10px;
}

.single-review img{
    width: 60px;
    height: 60px;
}

.top-review{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* review section end hear */

.footer{
text-align: center;
justify-content: center;
background-color: #9376e0;
margin-top: 40px;
padding: 30px;
}

.footers{
   
    align-items: center;
    justify-content: center;
}